---
---
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/adherent/tableau-de-bord" />
    <script is:inline>window.location.replace('/adherent/tableau-de-bord');</script>
  </head>
  <body></body>
</html>
